// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// brand colors
$main-green: #68A691;
$main-orange: #EC9F05;
$main-white: #FEFDFF;
// ui-colors
$main-red: #FF5964;
$main-sky-blue: #35A7FF;
$main-navy: #17183B;