<!doctype html>
<html lang="en">
  <head>
    <script src="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>
    <title>OpenLayers example</title>
  </head>
  <body>
    <span class="mq-place-search">
        <input class="mq-input" />
        <button class="mq-input-icon mq-icon-clear"><svg></svg></button>
      </span>
    <input type="search" id="place-search-input" placeholder="Start Searching..."/>
    <span class="mq-dropdown-menu mq-with-results">
        <div>
          <span class="mq-results">
            <div class="mq-result">
              <span class="mq-result-icon"><svg></svg></span>
              <span class="mq-name"></span>
              <span class="mq-address"></span>
            </div>
            <!-- More Results-->
          </span>
        </div>
      </span>
      

    <script type="text/javascript" src="sample.js"></script>
  </body>
</html>